{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <div class="panel-body">
                {% if user.avatar %}
                <img src="{{ url_for('static', filename=user.avatar ) }}" width="210px" alt="..." class="img-rounded">
                {% endif %}
            </div>
            <div class="panel-body">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}